@model IEnumerable<PeluqueriaAgendaServicio.web.Models.Turno>

@{
    ViewData["Title"] = "Turnos";
}

<h1>Turnos</h1>

<p>
    <a asp-action="Create">Ingresar Turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoTurno.EstadoTurnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.ServicioId)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurnoId" class="btn btn-sm btn-warning" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.TurnoId" class="btn btn-sm btn-info" title="Detalle">
                        <i class="fas fa-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.TurnoId" class="btn btn-sm btn-danger" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
